@font-face {
    font-family: "hydra";
    src: url('/zhoupuxu/assets/fonts/WenDingCSZhongDengXian-1.ttf') format('truetype');
}

title {text-align: left;}

head {
    font-family: "Times New Roman", "Montserrat";
    font-size: 28px;
}

body {
    font-family: "Times New Roman", "Montserrat";
    font-size: 20px;  
    line-height: 1.5;
    margin: 15px 50px;
}

h1 {
    font-size: 35px;
    line-height: 1.25;
}

h2 {
    font-size: 30px;
    line-height: 1.25;
    text-align: center;
}

h3 {
    font-size: 25px;
    line-height: 1.25;
    padding: 10px 5px;
}

li {
    margin: 10px 50px;
}
