<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/zhoupuxu/assets/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/zhoupuxu/">Home</a>
      <a href="/zhoupuxu/archive.html">Archive</a>
      <a href="/zhoupuxu/categories/">Categories</a>
    </nav>
    <h1>{{ page.title }}</h1>
    <section>
      {{ content }}
    </section>
    <footer>
      All rights reserved.
      <a href="http://slashine.onl/@ArcticZPX">Contact on Mastodon</a>
    </footer>
  </body>
</html>
